.block-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    justify-content: center;
    row-gap: 4rem;
    column-gap: 3rem;
    padding: 4rem 0;
}

.block-grid_alternative .card {
    background-color: var(--accent-color);
}

.block-grid_secondary .card {
    background-color: var(--primary-color);
}

.block-grid_terziary {
    color: var(--primary-color);
}

.block-grid_terziary .card {
    background-image: var(--primary-gradient);
}

