.button {
    display: inline-block;
    width: 25rem;
    padding: 1rem 3rem;
    background-color: transparent;
    border: 1px solid var(--primary-text-color);
    color: var(--primary-text-color);
    border-radius: 2rem;
    transition: 0.4s;
}

.button:hover {
    background-color: var(--primary-text-color);
    color: var(--primary-color);
    transform: translateY(-2px);
}