.button {
    display: inline-block;
    width: 25rem;
    padding: 1rem 3rem;
    background-color: transparent;
    border: 1px solid var(--primary-text-color);
    color: var(--primary-text-color);
    font-size: 1.8rem;
    border-radius: 2rem;
    transition: 0.4s;
    cursor: pointer;
}

.button_alternative {
    border: 1px solid var(--primary-color);
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.button:hover {
    background-color: var(--primary-text-color);
    color: var(--primary-color);
    transform: translateY(-2px);
}

.button_alternative:hover {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}