.card {
    width: 100%;
    height: 480px;
    width: 30rem;
    padding: 1.5rem;
    text-align: left;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: var(--terziary-color);
    box-shadow: 2px 2px 7px rgba(71, 59, 36, 0.1);
    transition: 0.4s ease-in;
}

.card_hidden {
    display: none;
}

.card:hover {
    box-shadow: 5px 5px 10px rgba(71, 59, 36, 0.2);
}

.card:hover .card__image {
    transform: scale(1.1);
}

.card__title {
    font-family: inherit;
    color: inherit;
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 1.5rem 0 1rem;
}

.card__image-wrapper {
    border-radius: 1.5rem;
    overflow: hidden;
}

.card__image {
    width: 100%;
    height: 36rem;
    transition: 0.4s ease-in;
}

.card__date {
    font-style: italic;
    order: -1;
    font-size: 1.4rem;
}