.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.container_parallax {
    height: 40rem;
    background-image: url(./../images/parallax-index.jpg);
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
}

.container_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}