.footer {
    background-color: var(--hover-text-color);
    background-image: var(--primary-gradient);
    color: var(--primary-color);
}

.footer__contacts {
    text-align: center;
}

.footer__title {
    color: var(--primary-color);
    padding-bottom: 1rem;
}

.footer__contacts-link {
    display: block;
    padding: 0.5rem 1rem;
}

.footer__link {
    display: inline-block;
    padding: 0.5rem 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    position: relative;
}

.footer__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.4s;
}

.footer__link:hover::after {
    width: 100%;
}

.footer__author-link {
    display: block;
    padding-top: 2rem;
    font-size: 1.4rem;
    font-style: italic;
}

