.section {
    padding: 4rem 0;
}

.section_center {
    text-align: center;
}

.section_alternative {
    background-color: var(--hover-text-color);
    color: var(--primary-color);
}

.section_secondary {
    background-color: var();
}

.section_pasta {
    background-image: url(./../images/page-pasta-bg.jpg);
    background-size: cover;
}

.section__title {
    font-size: 5rem;
    padding: 3rem 0;
}

.section__title_alternative {
    color: var(--primary-color);
}

.section__title_secondary {
    color: var(--primary-text-color);
}

.section__text {
    padding-bottom: 1.5rem;
    line-height: 2.5rem;
}

.section__link {
    display: inline-block;
    padding: 2rem 0 0.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.4s;
    position: relative;
}

.section__link:hover {
    color: var(--accent-color);
}

.section__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: 0.4s;
}

.section__link_alternative::after {
    background-color: var(--primary-color);
}

.section__link_alternative:hover {
    color: var(--primary-color);
}

.section__link:hover::after {
    width: 100%;
}

@media (max-width: 1110px) {
    .section {
        padding: 2rem 0;
    }
}

@media (max-width: 840px) {
    .section_about {
        padding: 0;
    }
}

@media (max-width: 520px) {
    .section__title {
        font-size: 4rem;
    }
}

@media (max-width: 380px) {
    .section__title {
        font-size: 3rem;
    }
}