.single-card {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(149, 126, 80, 0.9);
  padding: 20px;
  overflow: auto;
}

.single-card__wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 5rem;
  background-color: var(--primary-color);
  border-radius: 15px;
  position: relative;
}

.single-card__column {
    width: calc(50% - 2rem);
}

.single-card__title {
    text-align: center;
    padding: 1rem 0;
}

.single-card__image {
    width: 100%;
    height: auto;
}

.single-card__date {
    text-align: right;
}

.single-card__label {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.single-card__label::before,
.single-card__label::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 30px;
    height: 2px;
    background-color: var(--accent-color);
    transition: 0.4s;
}

.single-card__label::before {
    left: 4px;
    transform: rotate(-45deg);
}

.single-card__label::after {
    right: 0px;
    transform: rotate(45deg);
}

.single-card__label:hover::after,
.single-card__label:hover::before  {
    background-color: var(--hover-text-color);
}

.single-card__close {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.single-card__text:not(:last-child) {
    margin-bottom: 15px;
}

@media (max-width: 840px) {
    .single-card__wrapper {
        padding: 3rem;
    }
}

@media (max-width: 680px) {
    .single-card__column {
        width: 100%;
    }
}

@media (max-width: 380px) {
    .single-card__wrapper {
        padding: 2rem;
    }
}


