.social {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.social_footer {
    position: static;
}

.social__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.social__list_footer {
    gap: 1rem;
}

.social__link {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: cover;
    filter: invert(53%) sepia(9%) saturate(1743%) hue-rotate(2deg) brightness(93%) contrast(90%);
    transition: 0.4s;
}

.social__link_alternative {
    filter: invert(93%) sepia(12%) saturate(720%) hue-rotate(340deg) brightness(96%) contrast(94%);
}

.social__link:hover {
    filter: invert(53%) sepia(9%) saturate(1743%) hue-rotate(2deg) brightness(123%) contrast(90%);
}

.social__link_alternative:hover {
    filter: invert(89%) sepia(20%) saturate(720%) hue-rotate(340deg) brightness(96%) contrast(94%);
}

.social__link_facebook {
    background-image: url(./../images/social-icons/facebook.svg);
}

.social__link_instagram {
    background-image: url(./../images/social-icons/instagram.svg);
}

.social__link_youtube {
    background-size: 3.1rem;
    background-image: url(./../images/social-icons/youtube.svg);
}


@media (max-width: 840px) {
    .social {
        top: 1rem;
    }
}

@media (max-width: 520px) {
    .social {
        top: -2rem;
    }
}

@media (max-width: 440px) {
    .social__list {
        gap: 1rem;
    }
}